<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Template</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="assets/css/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
	<link href="assets/css/jquery-jvectormap.css" rel="stylesheet" />
	<link href="assets/css/nv.d3.css" rel="stylesheet" />
	<link href="assets/css/daterangepicker.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL CSS STYLE ================== -->
</head>
<body>
  <app-root></app-root>

  <!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="assets/js/app.min.js"></script>
	<script src="assets/js/default.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="assets/js/d3.min.js"></script>
	<script src="assets/js/nv.d3.min.js"></script>
	<script src="assets/js/jquery-jvectormap.min.js"></script>
	<script src="assets/js/jquery-jvectormap-world-mill.js"></script>
	<script src="assets/js/apexcharts.min.js"></script>
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/daterangepicker.js"></script>
	<script src="assets/js/dashboard-v3.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
</body>
</html>
